<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSCameraUsageDescription</key>
        <string>Request camera access for WebRTC</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>此应用需要访问麦克风以进行语音识别和ASR功能测试</string>
        <key>NSCameraUseContinuityCameraDeviceType</key>
        <string>此应用需要访问摄像头以进行语音识别和OCR功能测试</string>
    </dict>
</plist>
